body {
  background-color: #66ffff;
}
h1 {
  color: #000066;
  font-family: helvetica;
  margin: 1000px 150px 150px 150px;


}

h2 {
	color: ##662200;
	font-family: helvetica;

form

}
p {
  color: ##000000;
   font-family: fantasy;
}